
@{
    ViewBag.Title = "HistoryData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="update" style="display:none">
    <div class="form-group" style="display:none">
        <label class="col-sm-2 control-label">外部js调用：</label>
        <div class="col-sm-10">
            <input id="hello" class="laydate-icon form-control layer-date">
        </div>
    </div>
    <div style="text-align:center;margin-top:3%"><h3>查询条件</h3></div>
    <div class="form-group">
        @if (ViewData["equipments"] != null)
        {
            var list = (List<Alteon.Model.Api.Extension.Equipment>)ViewData["equipments"];
            <select class="form-control m-b" id="equipments">
                <option value="0">--请选择设备--</option>
                @foreach (var item in list)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        }
    </div>
    <div class="form-group">
        <select class="form-control m-b" id="datas">
            <option value="0">--请选择数据--</option>
        </select>
    </div>
    <div class="form-group">
        <a data-toggle="modal" class="btn-outline btn-info" href="javascript:void(0)" span="1" onclick="chooseTimeSpan(this)">当前小时</a>
        <a data-toggle="modal" class="btn-outline btn-danger" href="javascript:void(0)" span="3" onclick="chooseTimeSpan(this)">今天</a>
    </div>
    @*<div class="form-group">
            <a data-toggle="modal" class="btn btn-outline btn-danger" href="javascript:void(0)" span="3" onclick="chooseTimeSpan(this)">今天</a>
        </div>*@
    <div class="form-group">
        <input placeholder="开始日期" class="form-control layer-date" id="start" style="width:25%;float:left">
        <input placeholder="结束日期" class="form-control layer-date" id="end" style="width:25%;float:left">
    </div>
    
    <div class="form-group">
        <input placeholder="开始数值" class="form-control layer-date" id="begin" style="width:25%;float:left">
        <input placeholder="结束数值" class="form-control layer-date" id="over" style="width:25%;float:left">
    </div>
    
    <div style="text-align: right; margin-top: 13%">
        <strong onclick="Search()" style=" margin-right:6%;color:#5d8af6;">查询</strong>
    </div>

</div>
<a href="#" class="small-nav-icon search-nav" onclick="showWindow()"></a>
<div id="ajaxData">
    @*<div class="container no-bottom">
            <input type="hidden" value="" />
            <div class="heading half-bottom">
                <div class="heading-left">
                    <em>2016-5-30 22:30:52</em>
                    <h3><a>某某某</a></h3>
                </div>
                <div class="heading-right">
                    <img src="/content/images/greenLight.png" style="width:32px;height:32px" />
                </div>
            </div>
            <div class="heading-left">T1:33.3 Hz</div>
            <div class="heading-right">编辑</div>
        </div>
        <div class="decoration"></div>*@

</div>
<div id="more" style="text-align:center" onclick="nextPage()">加载更多</div>

@section iScript{
<script src="~/Content/js/plugins/layer/laydate/laydate.js"></script>
<script>
    laydate({
        elem: "#hello",
        event: "focus"
    });
    var start = {
        elem: "#start",
        event: 'focus',
        format: "YYYY-MM-DD hh:mm:ss",
        min: "2000-01-01 00:00:00",
        max: "2099-06-16 23:59:59",
        istime: true,
        istoday: false,
        choose: function (datas) {
            end.min = datas;
            end.start = datas
            _beginTime = datas;
        }
    };
    var end = {
        elem: "#end",
        event: 'focus',
        format: "YYYY-MM-DD hh:mm:ss",
        min: "2000-01-01 00:00:00",
        max: "2099-06-16 23:59:59",
        istime: true,
        istoday: false,
        choose: function (datas) {
            start.max = datas
            _endTime = datas;
            _currentOption = 2;
        }
    };
    laydate(start);
    laydate(end);


</script>
<script>
    var page = { pageIndex: 1, pageSize: 15 };
    var _equipmentId;
    var _dataMark;
    var _timeSpan;
    var _beginTime;
    var _endTime;
    var _currentOption;
    var _beginValue;
    var _endValue;

    $('#equipments').change(function () {
        _equipmentId = $(this).children('option:selected').val();
        if (_equipmentId > 0) {
            $.ajax({
                url: "/usercenter/GetDataListByEquipmentId",
                data: { euipmentId: _equipmentId },
                dataType: "json",
                type: "post",
                success: function (d) {
                    if (d.Error == 0) {
                        var _data = d.Data;
                        var _html = '<option value="0">--请选择数据--</option>';
                        for (var i = 0; i < _data.length; i++) {
                            _html += '<option value="' + _data[i].Mark + '">' + _data[i].Mark + '--' + _data[i].Name + '</option>';
                        }
                        $("#datas").html(_html);
                    }
                    else {
                        alert("该设备暂无数据");
                    }
                }
            });
        }
    });

    $("#datas").change(function () {
        _dataMark = $(this).children('option:selected').val();
    });

    function chooseTimeSpan(a) {
        _timeSpan = $(a).attr("span");
        _currentOption = 1;
    }
    function nextPage() {
        page.pageIndex++;
        Search();
    }
    function Search() {
        _beginValue = $("#begin").val().trim();
        _endValue = $("#over").val().trim();
        if (_dataMark == "" || _equipmentId == "") {
            return;
        }

        $.ajax({
            url: "/usercenter/GetAllDataByEquipmentIdAndMark",
            data: { equipmentId: _equipmentId, mark: _dataMark, beginTime: _beginTime, endTime: _endTime, beginValue: _beginValue, endValue: _endValue, pageIndex: page.pageIndex, pageSize: page.pageSize },
            dataType: "json",
            type: "post",
            success: function (data) {
                if (data.Error == 0) {
                    var obj = data.Data;
                    var html = "";
                    for (var i = 0; i < obj.length; i++) {
                        html += '<div class="container no-bottom"><div class="heading half-bottom"><div class="heading-left"><em>' + obj[i].CreateTime + '</em><h3>' + obj[i].Name + '</h3></div><div class="heading-right"><img src="/content/images/' + (obj[i].State == "0" ? 'grayLight.png' : 'greenLight.png') + '" style="width:32px;height:32px"/></div></div><div class="heading-left" style="font-size:16px">' + obj[i].Mark + ':   ' + obj[i].Value + '   ' + obj[i].Unit + '</div><div class="heading-right" onclick="DeleteData(' + obj[i].Id + ')">删除</div></div><div class="decoration"></div>';
                    }
                    var _oldHtml = $("#ajaxData").html();
                    $("#ajaxData").html(_oldHtml + html);
                }
                if (data.Error == 1) {
                    $("#more").html("没有更多了");
                }
                hidWindow();
            }

        });
    }

    function DeleteData(_id) {
        $.ajax({
            url: "/usercenter/DeleteDataById",
            data: { id: _id },
            dataType: "json",
            type: "post",
            success: function (data) {
                if (data.Error == 0) {
                    AjaxLoadList();
                }
                else {
                    alert(data.Msg);
                }
            },
            error: function (e) {
                alert(e.error);
            }
        });
    }


</script>

}