
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SubTabs</title>
    <link href="~/Content/css/plugins/light7/light7-swiper.min.css" rel="stylesheet" />
    <link href="~/Content/css/plugins/light7/light7.min.css" rel="stylesheet" />
    <script src="/Content/js/jquery-2.1.1.min.js"></script>
    <script src="~/Content/js/plugins/light7/light7-swiper.min.js"></script>
    <script src="~/Content/js/plugins/light7/light7.min.js"></script>
    <script>

    </script>
</head>
<body>
    <div class="page">
        <header class="bar bar-nav">
            <h1 class='title'>Secondary tabs</h1>
        </header>
        <div class="content">
            <div class="content-block">
                <div class="buttons-row">
                    <a href="#tab1" class="tab-link active button">Tab 1</a>
                    <a href="#tab2" class="tab-link button">Tab 2</a>
                    <a href="#tab3" class="tab-link button">Tab 3</a>
                </div>
            </div>
            <div class="tabs">
                <div id="tab1" class="tab active">
                    <div class="content-block">
                        <p>This is tab 1 content</p>
                    </div>
                </div>
                <div id="tab2" class="tab">
                    <div class="content-block">
                        <p>This is tab 2 content</p>
                    </div>
                </div>
                <div id="tab3" class="tab">
                    <div class="content-block">
                        <p>This is tab 3 content</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
