@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ALTEON 耀腾智能机电监控云平台 - 图表</title>
    <meta name="keywords" content="智能,监控,云平台,机电,耀腾,太阳能发电,BAS,BA,气体监控">
    <meta name="description" content="
          耀腾智能机电监控云平台是一个完全响应式，基于云端最新版本开发的工业机电监控系统，采用了modbus、tcp等传输协议方式与现场PLC系统对接，同时运行在pc和移动终端">
    <link href="/Content/css/bootstrap.min.css?v=3.4.0" rel="stylesheet">
    <link href="/Content/css/font-awesome.min.css?v=4.3.0" rel="stylesheet">

    <!-- orris -->
    <link href="/Content/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">

    <link href="/Content/css/animate.min.css" rel="stylesheet">
    <link href="/Content/css/style.min.css?v=3.0.0" rel="stylesheet">
</head>
<body class="gray-bg">
    <div id="ajaxData" style="margin-left:1%">
        <div class="ibox-title">
            <h5>jQuery Validate 简介</h5>
        </div>
        <div class="ibox-content">
            <p>jquery.validate.js 是一款优秀的jQuery表单验证插件。它具有如下特点：</p>
            <ul>
                <li>安装简单</li>
                <li>内置超过20种数据验证方法</li>
                <li>直列错误提示信息</li>
                <li>可扩展的数据验证方法</li>
                <li>使用内置的元数据或插件选项来指定您的验证规则</li>
                <li>优雅的交互设计</li>
            </ul>
        </div>
    </div>
    @*<script src="~/Content/js/jquery-2.1.1.min.js"></script>*@
    <script src="~/Content/js/jquery.min.js"></script>
        <script>
            $(function () {
                loadData();
            });

            function OnInput(event) {
                var _money = $("#elecMoney").val().trim();
                if (_money <= 0)
                    return;
                $.ajax({
                    url: "/usercenter/EditDataById",
                    data: { EquipmentId: 58, Mark: 'T1', MoneyMethod: _money },
                    dataType: "json",
                    type: "post",
                    success: function (data) {
                        if (data.Error == 0) {
                            var _totalElec = $("#totalElect").val();
                            var _totalMoney = _totalElec * _money;
                            $("#income").html("总收入： ￥ " + _totalMoney + " 元");

                        }
                        else {
                            alert(data.Msg);
                        }
                    },
                    error: function (e) {
                        alert(e.error);
                    }
                });
            }

            function loadData() {
                
                $.ajax({
                    url: "/MobileWeb/GetDataListByEquipmentIdAndMark",
                    data: { euipmentId: 58, mark: 'T1' },
                    dataType: "json",
                    type: "post",
                    success: function (data) {
                        if (data.Error == 0) {
                            var obj = data.Data;
                            var html = "";
                            html += '<div class="ibox-title"><h5>' + obj.Name + '</h5></div><div class="ibox-content"><p>更新时间：' + obj.CreateTime + '</p><ul><li>当日发电量：' + obj.TodayElectricity + obj.Unit + '</li><li>总发电量：' + obj.Value + obj.Unit + '</li><li>总二氧化碳减排量：' + obj.CarbonDioxideReduce + '吨</li><li>收入计算公式 = 总发电量 * <input id="elecMoney" type="number" value="' + obj.MoneyMethod + '" placeholder="每度电金额" style="width:30%;display:inline-block" oninput="OnInput(event)"/></li><li id="income">总收入： ￥ ' + obj.InComeMoney + ' 元</li></ul></div>';

                            //html += '<div class="container no-bottom"><input id="totalElect" type="hidden" value="' + obj.Value + '"/><input type="hidden" value="' + obj.Id + '"/><div class="heading half-bottom"><div class="heading-left"><em>' + obj.LastUpdateTime + '</em><h3><a href="ElectricityChart?equipmentId=' + obj.EquipmentId + '&Mark=' + obj.Mark + '&MarkName=' + obj.Name + '&Name=' + obj.EquipmentName + '&Unit=' + obj.Unit + '">' + obj.Name + '</a></h3></div><div class="heading-right"><img src="/content/images/' + (obj.State == "0" ? 'grayLight.png' : 'greenLight.png') + '" style="width:32px;height:32px"/></div></div></div><div class="decoration"></div><div><h4>当日发电量：' + obj.TodayElectricity + obj.Unit + '</h4></div><div><h4>总发电量：' + obj.Value + obj.Unit + '</h4></div><div><h4>总二氧化碳减排量：' + obj.CarbonDioxideReduce + '吨</h4></div><div><h4>收入计算公式 = 总发电量 * <input id="elecMoney" type="number" value="' + obj.MoneyMethod + '" placeholder="每度电金额" style="width:30%;display:inline-block" oninput="OnInput(event)"/></h4></div><div><h4 id="income">总收入： ￥ ' + obj.InComeMoney + ' 元</h4></div>';
                            $("#ajaxData").html(html);
                        }
                        if (data.Error == 1) {
                            $("#more").html("没有更多了");
                        }
                        else {
                            //alert(data.Msg);
                        }
                    },
                    error: function (e) {
                        alert(e.error);
                    }
                });

                
            };
        </script>

</body>
</html>
