
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- banner-bottom -->
<div class="banner-bottom1">
    <div class="container">
        <h2>Lacinia eget consecteture sed convallis</h2>
        <div class="banner-bottom1-left">
            <img src="/Content/images/b.jpg" alt=" " />
            <p>
                Sed porttitor lactus nibh.Vivamus magna justo.Lacinia eget consecteture sed,convallis att
                tellus.Curabitur aliquet quam id dui posuere blandit.Cras ultricies ligula sed magna...
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitationDonec sollicitudin molestie malesuada. Nulla quis lorem ut libero mal suada
                feugiat. Curabitur aliquet quam uis loremUt enim ad minim cupidatat non proident,
                sunt in culpa qui officia deserunt mollit
                anim id est laborum.Donec sollicitudin molestie masuada. Curabitur aliquet quam id duiposuere blandit. Donec sollicitudin
                molestie malesuada. Lorem ipsum dolor sit amet, consectetur adipiscingelit. Curabitur aliquet quam id dui
                posuere blandit. Proin eget tortor risus.Sed porttitor lactus nibh.Vivamus magna justo.
                Lacinia eget consecteture sed,convallis att
                tellus.Curabitur aliquet quam id dui posuere blandit.Cras ultricies ligula sed magna
            </p>

        </div>
        <div class="banner-bottom1-right">
            <div class="banner-bottom1-right1">
                <h3>CATEGORIES</h3>
                <ul>
                    <li><a href="#">Pellentesque in ipsum</a></li>
                    <li><a href="#">Vivamus magna justo</a></li>
                    <li><a href="#">Cras ultricies ligula</a></li>
                    <li><a href="#">Orci porta dapibus</a></li>
                    <li><a href="#">est oben dis</a></li>
                    <li><a href="#">Curabitur aliquet quam uis lorem</a></li>
                    <li><a href="#">Nulla quis lorem ut libero</a></li>
                </ul>
            </div>
            <div class="banner-bottom1-right1">
                <h3>ARCHIEVE</h3>
                <ul>
                    <li><a href="#">December 2014</a></li>
                    <li><a href="#">March 2015</a></li>
                    <li><a href="#">April 2015</a></li>
                    <li><a href="#">June 2015</a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"> </div>
        <div class="tags">
            <div class="tags-left">
                <ul>
                    <li><a href="#"><small class="para"> </small><span>January 3,2015</span></a></li>
                    <li><a href="#"><small class="para1"> </small><span>admin</span></a></li>
                    <li><a href="#"><small class="para2"> </small><span>No Comments</span></a></li>
                    <li><a href="#"><small class="para3"> </small><span>View posts</span></a></li>
                </ul>
            </div>
            <div class="tags-right">
                <ul>
                    <li><a href="#"><small class="para4"> </small><span>Permalink</span></a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="responses">
            <h3>RESPONSES</h3>
            <div class="response">
                <div class="f1">
                    <span> </span>
                </div>
                <div class="response-text">
                    <ul>
                        <li>Admin</li>
                        <li>3 January 2015 at 11am</li>
                    </ul>
                    <p>
                        It is a long established fact that a reader will be distracted by
                        the readable content of a page when looking at its layout.
                        The point of using Lorem Ipsum is that it has a more-or-less
                    </p>
                    <a href="#">Reply</a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="response">
                <div class="f1">
                    <span> </span>
                </div>
                <div class="response-text">
                    <ul>
                        <li>Admin</li>
                        <li>3 January 2015 at 11am</li>
                    </ul>
                    <p>
                        It is a long established fact that a reader will be distracted by
                        the readable content of a page when looking at its layout.
                        The point of using Lorem Ipsum is that it has a more-or-less
                    </p>
                    <a href="#">Reply</a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="comments">
            <h3>leave a comment</h3>
            <form>
                <input type="text" placeholder="Name" required=" ">
                <input type="text" placeholder="Email" required=" ">
                <input type="text" placeholder="Phone Number" required=" ">
                <textarea placeholder="Message" required=" "></textarea>
                <input type="submit" value="send">
            </form>
        </div>
    </div>
</div>
<!-- //banner-bottom -->

