
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- banner -->
<div class="banner">
    <div class="container">
        <div class="banner-info">
            <h2>NEW BRANDING STYLE</h2>
            <p>see our new graphic design collection</p>
            <div class="more">
                @*<a href="#">Learn More</a>*@
            </div>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- banner-bottom -->
<div class="banner-bottom">
    <div class="container">
        <div class="banner-bottom-left">
            <div class="fig"></div>
            <h3>Web Design</h3>
            <p>Lorem ipsum dolor sit amet<span> est oben dis</span></p>
        </div>
        <div class="banner-bottom-left banner-bottom-mid">
            <div class="fig1"></div>
            <h3>Graphic Design</h3>
            <p>Lorem ipsum dolor sit amet<span> est oben dis</span></p>
        </div>
        <div class="banner-bottom-left">
            <div class="fig2"></div>
            <h3>Photography</h3>
            <p>Lorem ipsum dolor sit amet<span> est oben dis</span></p>
        </div>
        <div class="clearfix"> </div>
        <div class="banner-bottom-text">
            <p>
                "I Want to make beautiful things,even if nobody cares,
                <span>as opposed to ugly things.That's my intent."</span>
            </p>
        </div>
        <div class="banner-bottom-grids">
            <div class="banner-bottom-grid">
                <img src="/Content/images/8.jpg" alt=" " />
                <h3>Cool image</h3>
                <p>Galaxy Corp.</p>
            </div>
            <div class="banner-bottom-grid grid-mid">
                <img src="/Content/images/3.jpg" alt=" " />
                <h3>Great Picture</h3>
                <p>Galaxy Corp.</p>
            </div>
            <div class="banner-bottom-grid">
                <img src="/Content/images/2.jpg" alt=" " />
                <h3>Cool image</h3>
                <p>Galaxy Corp.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //banner-bottom -->
<!-- about -->
<div id="about" class="team">
    <div class="container">
        <h4>About us</h4>
        <div class="group">
            <img src="/Content/images/h.jpg" alt=" " />
        </div>
        <div class="group-text">
            <h3> Praesent vestibulum molestie lacus</h3>
            <p>
                Molestie sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere dit.
                Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit amet, consecteturs.
                Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis,
                lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet,
                consectetuer adipiscing elit. Praesent vestibulum molestie lacus.
                Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi.
                Cum sociis natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi…
            </p>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div id="team" class="about">
    <div class="container">
        <div class="about-us">
            <h2>Team</h2>
            <p>
                Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero mal suada
                <span>feugiat. Curabitur aliquet quamuis lorem</span>
            </p>
        </div>
        <div class="about-grids">
            <div class="about-grid">
                <img src="/Content/images/12.jpg" alt=" " />
                <div class="about-grid-john">
                    <div class="john">
                        <h4>Mr.John Doe</h4>
                        <p>Creative Director</p>
                    </div>
                    <div class="social-icons">
                        <ul>
                            <li><a href class="facebook"> </a></li>
                            <li><a href class="twitter"> </a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                    <p class="para">
                        Donec sollicitudin molestie male
                        suada. Curabitur aliquet quam id dui
                        posuere blandit. Donec sollicitudin
                        molestie malesuada.
                    </p>
                    <div class="hello">
                        <a href="#">Say Hello</a>
                    </div>
                </div>
            </div>
            <div class="about-grid about-mid">
                <img src="/Content/images/13.jpg" alt=" " />
                <div class="about-grid-john">
                    <div class="john">
                        <h4>Mr.John Doe</h4>
                        <p>Creative Director</p>
                    </div>
                    <div class="social-icons">
                        <ul>
                            <li><a href class="facebook"> </a></li>
                            <li><a href class="twitter"> </a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                    <p class="para">
                        Donec sollicitudin molestie male
                        suada. Curabitur aliquet quam id dui
                        posuere blandit. Donec sollicitudin
                        molestie malesuada.
                    </p>
                    <div class="hello">
                        <a href="#">Say Hello</a>
                    </div>
                </div>
            </div>
            <div class="about-grid">
                <img src="/Content/images/11.jpg" alt=" " />
                <div class="about-grid-john">
                    <div class="john">
                        <h4>Mr.John Doe</h4>
                        <p>Creative Director</p>
                    </div>
                    <div class="social-icons">
                        <ul>
                            <li><a href class="facebook"> </a></li>
                            <li><a href class="twitter"> </a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                    <p class="para">
                        Donec sollicitudin molestie male
                        suada. Curabitur aliquet quam id dui
                        posuere blandit. Donec sollicitudin
                        molestie malesuada.
                    </p>
                    <div class="hello">
                        <a href="#">Say Hello</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //about -->
<!-- pricing -->
<div id="price" class="pricing">
    <div class="container">
        <div class="price">
            <h2>Pricing</h2>
            <p>
                Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero mal suada
                <span>feugiat. Curabitur aliquet quam uis lorem</span>
            </p>
        </div>
        <div class="basic">
            <div class="business">
                <h2>Basic</h2>
                <p>Best for small business</p>
            </div>
            <div class="value">
                <p>19,99$</p>
            </div>
            <ul>
                <li><span>50</span> Projects</li>
                <li><span>20</span> Files</li>
                <li><span>Full</span> Support</li>
                <li class="gd"><span>24h</span> Ready</li>
            </ul>
            <div class="buy-me">
                <a href="#">Buy Me</a>
            </div>
        </div>
        <div class="basic basic-mid">
            <div class="business">
                <h2>Premium</h2>
                <p>Best for medium business</p>
            </div>
            <div class="value">
                <p>49,99$</p>
            </div>
            <ul>
                <li><span>50</span> Projects</li>
                <li><span>20</span> Files</li>
                <li><span>Full</span> Support</li>
                <li class="gd"><span>24h</span> Ready</li>
            </ul>
            <div class="buy-me">
                <a href="#">Buy Me</a>
            </div>
        </div>
        <div class="basic">
            <div class="business">
                <h2>Deluxe</h2>
                <p>Best for big business</p>
            </div>
            <div class="value">
                <p>99,99$</p>
            </div>
            <ul>
                <li><span>50</span> Projects</li>
                <li><span>20</span> Files</li>
                <li><span>Full</span> Support</li>
                <li class="gd"><span>24h</span> Ready</li>
            </ul>
            <div class="buy-me">
                <a href="#">Buy Me</a>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //pricing -->
<!-- blog -->
<div id="blog" class="blog">
    <div class="container">
        <h3>FROM THE BLOG</h3>
        <div class="blog-grids">
            <div class="blog-grid">
                <a href="/Home/Blog"><img src="/Content/images/4.jpg" alt=" " /></a>
                <h4><a href="blog.html">Web Design</a></h4>
                <p>
                    Sed porttitor lactus nibh.Vivamus magna justo.Lacinia eget consecteture sed,convallis att
                    tellus.Curabitur aliquet quam id dui posuere blandit.Cras ultricies ligula sed magna...
                </p>
            </div>
            <div class="blog-grid blog-mid">
                <a href="/Home/Blog"><img src="/Content/images/5.jpg" alt=" " /></a>
                <h4><a href="blog.html">Web Design</a></h4>
                <p>
                    Sed porttitor lactus nibh.Vivamus magna justo.Lacinia eget consecteture sed,convallis att
                    tellus.Curabitur aliquet quam id dui posuere blandit.Cras ultricies ligula sed magna...
                </p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //blog -->

